* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1024px;
  padding: 1rem 4rem;
  margin: 0 auto;
}

.main_nav_list {
  display: flex;
  margin: 0;
}

.main_nav_list li:not(:first-child) {
  margin-left: 2.2rem;
}

.main_nav_list a {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

.main_nav_list a:hover {
  text-decoration: underline;
}

.content_holder {
  display: flex;
}

.main_flow {
  width: 100%;
}

.one_gag {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1.2rem;
}

.one_gag:not(:first-child) {
  border-top: 1px solid #e5e5e5;
}

.gag_container {
  background-color: #f4f4f4;
  text-align: center;
}

.side_bar {
  margin-left: 4rem;
}

.footer_links_list {
  display: flex;
  text-align: center;
}
.footer_links_list li:not(:first-child) {
  margin-left: 1rem;
}

.gag_section_name {
  margin-top: 0;
  margin-bottom: .8rem;
  font-size: .8rem;
}

.gag_header {
  margin-bottom: .5rem;
}

.gag_body {
  margin-bottom: .5rem;
}

.footer_links_list {
  margin-bottom: 1rem;
}

.footer_links_list a {
  text-decoration: none;
}

.footer_links_list a:hover {
  text-decoration: underline;
}

